<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	
	<add key="Podjetje" value="PM" />
	<add key="ClientTimeout" value="1000" />
	<add key="EndpointUrl" value="https://plinarna-maribor-api.msign.si/v1/" />
	<add key="ApiToken" value="AWL-p1L99wpk62xjjmkreoxEhTfK8wGz" />	      
	<add key="BasePath" value="C:\temp\plmb\" />
	<add key="MsignDocumentName" value="plmb_pogodba_{0}" />

	<add key="FileNameMerged" value="plmb-epogodba-{0}-zp.pdf" />
	<add key="MailServer" value="smtp.sibp.local" />
	<add key="MailServerPort" value="25" />
	<add key="MailServerUserName" value="epodpis" />
	<add key="MailServerPassword" value="Zim@2022" />
	<add key="MailFromDescription" value="E-Podpis PLMB" />
	<add key="MailFrom" value="e-podpis@plinarna-maribor.si" />
	<add key="MailSubject" value="Plinarna Maribor e-podpis pogodbe št. {0}" />
	<add key="MailSubjectPodpisano" value="Plinarna Maribor e-podpis pogodbe št. {0}" />
	<add key="MailSubjectPregled" value="Plinarna Maribor e-podpis pogodbe št. {0}" />
	<add key="MailEnableSSL" value="false" />
	<add key="MailOverrideServerCertificateValidation" value="true" />
	  

	<add key="EndpointUrlECE" value="https://ece-api.msign.si/v1/" />
	<add key="ApiTokenECE" value="CgSOSScqyxldaPklTNvShuNotYyoRjDA" />	
    <add key="BasePathECE" value="R:\ECE_WEB\ebis_app\Obrazci\" />
	  
	<add key="MailServer1" value="ece-si.mail.protection.outlook.com" />
    <add key="MailServerPort1" value="25" />
    <add key="MailServerUserName1" value="" />
    <add key="MailServerPassword1" value="" />
    <add key="MailFromDescription1" value="Prodaja ECE" />

    <add key="MailServer2" value="mail.3tav.si" />
    <add key="MailServerPort2" value="25" />
    <add key="MailServerUserName2" value="mail3tav" />
    <add key="MailServerPassword2" value="Sprejmi_posto_PROSIM!" />
    <add key="MailFromDescription2" value="Prodaja ECE" />

    <add key="MailServer3" value="smtp.office365.com" />
    <add key="MailServerPort3" value="587" />
    <add key="MailServerUserName3" value="epogodba@ece.si" />
    <add key="MailServerPassword3" value="etkU2Dm9XcDm89cT" />
    <add key="MailFromDescription3" value="EPogodba ECE" />
    <add key="MailFrom3" value="epogodba@ece.si" />

	 
  </appSettings>
  <connectionStrings>
	<add name="connString" connectionString="data source=SIBPSQL1\Test3tav,51456;initial catalog=demoq_plinarna_mb;persist security info=False;Application Name=EceWeb;user id=sap_connector;pwd=connector;packet size=4096"/>
	<add name="connStringDoc" connectionString="data source=SIBPMBSQL1.SIBP.local;initial catalog=db_doc_plinarna_mb;persist security info=False;Application Name=MsignClient;user id=sap_connector;pwd=connector;Connection Timeout=600;packet size=4096" />
    
	<add name="connString4" connectionString="data source=10.50.196.41\SQL3TAV;initial catalog=db_is_ece_demoQ;persist security info=false;Application Name=EppsServices;user id=3tavServiceManager;pwd=3tavl3tal1ska32@ece;Connection Timeout=600;packet size=4096"/>
	<add name="connStringDocECE" connectionString="data source=10.50.196.40,52740;initial catalog=db_doc_ece;persist security info=False;Application Name=EppsServices;user id=3tavServiceManager;pwd=3tavl3tal1ska32@ece;Connection Timeout=600;packet size=4096" />
	  	  	    
    <add name="connString1" connectionString="data source=10.50.196.40,52740;initial catalog=db_is_ece;persist security info=false;Application Name=EppsServices;user id=3tavServiceManager;pwd=3tavl3tal1ska32@ece;Connection Timeout=600;packet size=4096"/>
    <add name="connString2" connectionString="data source=3tav-sql\sql2016;initial catalog=3tav_db_plinarna_mb;persist security info=False;Application Name=EceWeb;Integrated Security=SSPI;packet size=4096"/>
    <add name="connString33" connectionString="data source=3tav-sql2\Instance1;initial catalog=db_web_ece;persist security info=False;Application Name=EceWeb;user id=sa;pwd=Prepozno2014;packet size=4096"/>
    <add name="connStringDoc33" connectionString="data source=3tav-sql2\Instance1;initial catalog=db_doc_ece;persist security info=False;Application Name=EceWeb;user id=sa;pwd=Prepozno2014;packet size=4096" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>